 @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lora:ital@0;1&family=Source+Code+Pro:ital,wght@1,500&display=swap'); 
/* #imz{
    margin: 0.5ch;
} */
h5{
    font-weight: bolder;
    color: #055160;
    font-family: 'Source Code Pro', monospace;
}
.blog{
    font-family: 'Lora', serif;
    margin: 160px;
}
.blog p{

    margin-top: 40px;
    font-size: larger;
}
h1{
    font-size: calc(1.5rem + 2.5vw);
}
a{
    color: black;
}
#navt{
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Cedarville Cursive', cursive;
    margin-top: 0cm;
    margin-left: 0.2cm;
    margin-right: 3cm;
}
